<div class="sixthCardWrapper">
  <div class="sixthCardWrapper__card">
    <h2 class="sixthCardWrapper__card__title">Frequently Asked Questions</h2>
    <nav class="sixthCardWrapper__card__nav">
      <ul class="sixthCardWrapper__card__nav__ul">
        <li class="sixthCardWrapper__card__nav__ul__li">
          <p
            (click)="toggleQuestion(0)"
            class="sixthCardWrapper__card__nav__ul__li__subtitle"
          >
            <span class="sixthCardWrapper__card__nav__ul__li__subtitle__text">
              What is Netflix? </span
            ><span
              *ngIf="isHidden[0] === false"
              [ngClass]="{
                'sixthCardWrapper__card__nav__ul__li__subtile__toggleOpen material-symbols-outlined':
                  isHidden[0] === false
              }"
            >
              add
            </span>
            <span
              *ngIf="isHidden[0] === true"
              [ngClass]="{
                'sixthCardWrapper__card__nav__ul__li__subtile__toggleClose material-symbols-outlined':
                  isHidden[0] === true
              }"
            >
              close
            </span>
          </p>
          <div
            [ngClass]="{
              'sixthCardWrapper__card__nav__ul__li__description--open':
                isHidden[0] === true,
              'sixthCardWrapper__card__nav__ul__li__description--closed':
                isHidden[0] === false
            }"
          >
            <p
              class="sixthCardWrapper__card__nav__ul__li__description__message"
            >
              Netflix is a streaming service that offers a wide variety of
              award-winning TV shows, movies, anime, documentaries, and more on
              thousands of internet-connected devices.<br /><br />
              You can watch as much as you want, whenever you want without a
              single commercial – all for one low monthly price. There's always
              something new to discover and new TV shows and movies are added
              every week!
            </p>
          </div>
        </li>
        <li class="sixthCardWrapper__card__nav__ul__li">
          <p
            (click)="toggleQuestion(1)"
            class="sixthCardWrapper__card__nav__ul__li__subtitle"
          >
            <span class="sixthCardWrapper__card__nav__ul__li__subtitle__text">
              How much does Netflix cost? </span
            ><span
              *ngIf="isHidden[1] === false"
              [ngClass]="{
                'sixthCardWrapper__card__nav__ul__li__subtile__toggleOpen material-symbols-outlined':
                  isHidden[1] === false
              }"
            >
              add
            </span>
            <span
              *ngIf="isHidden[1] === true"
              [ngClass]="{
                'sixthCardWrapper__card__nav__ul__li__subtile__toggleClose material-symbols-outlined':
                  isHidden[1] === true
              }"
            >
              close
            </span>
          </p>
          <div
            [ngClass]="{
              'sixthCardWrapper__card__nav__ul__li__description--open':
                isHidden[1] === true,
              'sixthCardWrapper__card__nav__ul__li__description--closed':
                isHidden[1] === false
            }"
          >
            <p
              class="sixthCardWrapper__card__nav__ul__li__description__message"
            >
              Watch Netflix on your smartphone, tablet, Smart TV, laptop, or
              streaming device, all for one fixed monthly fee. Plans range from
              EUR8.99 to EUR17.99 a month. No extra costs, no contracts.
            </p>
          </div>
        </li>
        <li class="sixthCardWrapper__card__nav__ul__li">
          <p
            (click)="toggleQuestion(2)"
            class="sixthCardWrapper__card__nav__ul__li__subtitle"
          >
            <span class="sixthCardWrapper__card__nav__ul__li__subtitle__text">
              Where can i watch? </span
            ><span
              *ngIf="isHidden[2] === false"
              [ngClass]="{
                'sixthCardWrapper__card__nav__ul__li__subtile__toggleOpen material-symbols-outlined':
                  isHidden[2] === false
              }"
            >
              add
            </span>
            <span
              *ngIf="isHidden[2] === true"
              [ngClass]="{
                'sixthCardWrapper__card__nav__ul__li__subtile__toggleClose material-symbols-outlined':
                  isHidden[2] === true
              }"
            >
              close
            </span>
          </p>
          <div
            [ngClass]="{
              'sixthCardWrapper__card__nav__ul__li__description--open':
                isHidden[2] === true,
              'sixthCardWrapper__card__nav__ul__li__description--closed':
                isHidden[2] === false
            }"
          >
            <p
              class="sixthCardWrapper__card__nav__ul__li__description__message"
            >
              You can also download your favorite shows with the iOS, Android,
              or Windows 10 app. Use downloads to watch while you're on the go
              and without an internet connection. Take Netflix with you
              anywhere.
            </p>
          </div>
        </li>
        <li class="sixthCardWrapper__card__nav__ul__li">
          <p
            (click)="toggleQuestion(3)"
            class="sixthCardWrapper__card__nav__ul__li__subtitle"
          >
            <span class="sixthCardWrapper__card__nav__ul__li__subtitle__text">
              How do i cancel? </span
            ><span
              *ngIf="isHidden[3] === false"
              [ngClass]="{
                'sixthCardWrapper__card__nav__ul__li__subtile__toggleOpen material-symbols-outlined':
                  isHidden[3] === false
              }"
            >
              add
            </span>
            <span
              *ngIf="isHidden[3] === true"
              [ngClass]="{
                'sixthCardWrapper__card__nav__ul__li__subtile__toggleClose material-symbols-outlined':
                  isHidden[3] === true
              }"
            >
              close
            </span>
          </p>
          <div
            [ngClass]="{
              'sixthCardWrapper__card__nav__ul__li__description--open':
                isHidden[3] === true,
              'sixthCardWrapper__card__nav__ul__li__description--closed':
                isHidden[3] === false
            }"
          >
            <p
              class="sixthCardWrapper__card__nav__ul__li__description__message"
            >
              Netflix is flexible. There are no pesky contracts and no
              commitments. You can easily cancel your account online in two
              clicks. There are no cancellation fees – start or stop your
              account anytime.
            </p>
          </div>
        </li>
        <li class="sixthCardWrapper__card__nav__ul__li">
          <p
            (click)="toggleQuestion(4)"
            class="sixthCardWrapper__card__nav__ul__li__subtitle"
          >
            <span class="sixthCardWrapper__card__nav__ul__li__subtitle__text">
              What can i watch on Netflix? </span
            ><span
              *ngIf="isHidden[4] === false"
              [ngClass]="{
                'sixthCardWrapper__card__nav__ul__li__subtile__toggleOpen material-symbols-outlined':
                  isHidden[4] === false
              }"
            >
              add
            </span>
            <span
              *ngIf="isHidden[4] === true"
              [ngClass]="{
                'sixthCardWrapper__card__nav__ul__li__subtile__toggleClose material-symbols-outlined':
                  isHidden[4] === true
              }"
            >
              close
            </span>
          </p>
          <div
            [ngClass]="{
              'sixthCardWrapper__card__nav__ul__li__description--open':
                isHidden[4] === true,
              'sixthCardWrapper__card__nav__ul__li__description--closed':
                isHidden[4] === false
            }"
          >
            <p
              class="sixthCardWrapper__card__nav__ul__li__description__message"
            >
              Netflix has an extensive library of feature films, documentaries,
              TV shows, anime, award-winning Netflix originals, and more. Watch
              as much as you want, anytime you want.
            </p>
          </div>
        </li>
        <li class="sixthCardWrapper__card__nav__ul__li">
          <p
            (click)="toggleQuestion(5)"
            class="sixthCardWrapper__card__nav__ul__li__subtitle"
          >
            <span class="sixthCardWrapper__card__nav__ul__li__subtitle__text">
              Is Netflix good for kids? </span
            ><span
              *ngIf="isHidden[5] === false"
              [ngClass]="{
                'sixthCardWrapper__card__nav__ul__li__subtile__toggleOpen material-symbols-outlined':
                  isHidden[5] === false
              }"
            >
              add
            </span>
            <span
              *ngIf="isHidden[5] === true"
              [ngClass]="{
                'sixthCardWrapper__card__nav__ul__li__subtile__toggleClose material-symbols-outlined':
                  isHidden[5] === true
              }"
            >
              close
            </span>
          </p>
          <div
            [ngClass]="{
              'sixthCardWrapper__card__nav__ul__li__description--open':
                isHidden[5] === true,
              'sixthCardWrapper__card__nav__ul__li__description--closed':
                isHidden[5] === false
            }"
          >
            <p
              class="sixthCardWrapper__card__nav__ul__li__description__message"
            >
              The Netflix Kids experience is included in your membership to give
              parents control while kids enjoy family-friendly TV shows and
              movies in their own space.<br /><br />
              Kids profiles come with PIN-protected parental controls that let
              you restrict the maturity rating of content kids can watch and
              block specific titles you don’t want kids to see.
            </p>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
