<div class="sixthCardWrapper">
  <div class="sixthCardWrapper__card">
    <h2 class="sixthCardWrapper__card__title">Frequently Asked Questions</h2>
    <nav class="sixthCardWrapper__card__nav">
      <ul class="sixthCardWrapper__card__nav__ul">
        <li class="sixthCardWrapper__card__nav__ul__li">
          <p class="sixthCardWrapper__card__nav__ul__li__subtitle">
            <span class="sixthCardWrapper__card__nav__ul__li__subtitle__text">
              What is Netflix </span
            ><span
              class="sixthCardWrapper__card__nav__ul__li__subtile__toggleOpen material-symbols-outlined"
            >
              add
            </span>
            <span
              class="sixthCardWrapper__card__nav__ul__li__subtile__toggleClose material-symbols-outlined"
            >
              close
            </span>
          </p>
          <p class="sixthCardWrapper__card__nav__ul__li__description">
            Netflix is a streaming service that offers a wide variety of
            award-winning TV shows, movies, anime, documentaries, and more on
            thousands of internet-connected devices.<br /><br />
            You can watch as much as you want, whenever you want without a
            single commercial – all for one low monthly price. There's always
            something new to discover and new TV shows and movies are added
            every week!
          </p>
        </li>
        <li class="sixthCardWrapper__card__nav__ul__li">
          <p class="sixthCardWrapper__card__nav__ul__li__subtitle">
            <span class="sixthCardWrapper__card__nav__ul__li__subtitle__text">
              How much does Netflix cost? </span
            ><span
              class="sixthCardWrapper__card__nav__ul__li__subtile__toggleOpen material-symbols-outlined"
            >
              add
            </span>
            <span
              class="sixthCardWrapper__card__nav__ul__li__subtile__toggleClose material-symbols-outlined"
            >
              close
            </span>
          </p>
          <p class="sixthCardWrapper__card__nav__ul__li__description">
            Watch Netflix on your smartphone, tablet, Smart TV, laptop, or
            streaming device, all for one fixed monthly fee. Plans range from
            EUR8.99 to EUR17.99 a month. No extra costs, no contracts.
          </p>
        </li>
        <li class="sixthCardWrapper__card__nav__ul__li">
          <p class="sixthCardWrapper__card__nav__ul__li__subtitle">
            <span class="sixthCardWrapper__card__nav__ul__li__subtitle__text">
              Where can i watch </span
            ><span
              class="sixthCardWrapper__card__nav__ul__li__subtile__toggleOpen material-symbols-outlined"
            >
              add
            </span>
            <span
              class="sixthCardWrapper__card__nav__ul__li__subtile__toggleClose material-symbols-outlined"
            >
              close
            </span>
          </p>
          <p class="sixthCardWrapper__card__nav__ul__li__description">
            You can also download your favorite shows with the iOS, Android, or
            Windows 10 app. Use downloads to watch while you're on the go and
            without an internet connection. Take Netflix with you anywhere.
          </p>
        </li>
        <li class="sixthCardWrapper__card__nav__ul__li">
          <p class="sixthCardWrapper__card__nav__ul__li__subtitle">
            <span class="sixthCardWrapper__card__nav__ul__li__subtitle__text">
              How do i cancel </span
            ><span
              class="sixthCardWrapper__card__nav__ul__li__subtile__toggleOpen material-symbols-outlined"
            >
              add
            </span>
            <span
              class="sixthCardWrapper__card__nav__ul__li__subtile__toggleClose material-symbols-outlined"
            >
              close
            </span>
          </p>
          <p class="sixthCardWrapper__card__nav__ul__li__description">
            Netflix is flexible. There are no pesky contracts and no
            commitments. You can easily cancel your account online in two
            clicks. There are no cancellation fees – start or stop your account
            anytime.
          </p>
        </li>
        <li class="sixthCardWrapper__card__nav__ul__li">
          <p class="sixthCardWrapper__card__nav__ul__li__subtitle">
            <span class="sixthCardWrapper__card__nav__ul__li__subtitle__text">
              What can i watch on Netflix </span
            ><span
              class="sixthCardWrapper__card__nav__ul__li__subtile__toggleOpen material-symbols-outlined"
            >
              add
            </span>
            <span
              class="sixthCardWrapper__card__nav__ul__li__subtile__toggleClose material-symbols-outlined"
            >
              close
            </span>
          </p>
          <p class="sixthCardWrapper__card__nav__ul__li__description">
            Netflix has an extensive library of feature films, documentaries, TV
            shows, anime, award-winning Netflix originals, and more. Watch as
            much as you want, anytime you want.
          </p>
        </li>
        <li class="sixthCardWrapper__card__nav__ul__li">
          <p class="sixthCardWrapper__card__nav__ul__li__subtitle">
            <span class="sixthCardWrapper__card__nav__ul__li__subtitle__text">
              Is Netflix good for kids? </span
            ><span
              class="sixthCardWrapper__card__nav__ul__li__subtile__toggleOpen material-symbols-outlined"
            >
              add
            </span>
            <span
              class="sixthCardWrapper__card__nav__ul__li__subtile__toggleClose material-symbols-outlined"
            >
              close
            </span>
          </p>
          <p class="sixthCardWrapper__card__nav__ul__li__description">
            The Netflix Kids experience is included in your membership to give
            parents control while kids enjoy family-friendly TV shows and movies
            in their own space.<br /><br />
            Kids profiles come with PIN-protected parental controls that let you
            restrict the maturity rating of content kids can watch and block
            specific titles you don’t want kids to see.
          </p>
        </li>
      </ul>
    </nav>
  </div>
</div>
