<article class="articleHomePromo">
  <div class="articleHomePromo__header">
    <figure class="articleHomePromo__header__fig">
      <img
        src="{{ newLogo }}"
        alt="new"
        class="articleHomePromo__header__fig__img"
      />
    </figure>
    <h1 class="articleHomePromo__header__title">{{ title | uppercase }}</h1>
  </div>
  <div class="articleHomePromo__body">
    <figure class="articleHomePromo__body__fig">
      <img
        src="{{ promoLogo }}"
        alt="show logo"
        class="articleHomePromo__body__fig__img"
      />
    </figure>
    <h2 class="articleHomePromo__body__subtitle">
      <img
        class="articleHomePromo__body__subtitle__logo"
        src="{{ topLogo }}"
        alt="top10"
      />#1 in TV Shows Today
    </h2>
    <p class="articleHomePromo__body__description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
      aspernatur ea facere fuga fugit labore necessitatibus nobis repudiandae
      sunt tempora?
    </p>
  </div>
  <div class="articleHomePromo__footer">
    <button
      class="articleHomePromo__footer__button articleHomePromo__footer__button--left"
    >
      <span class="playIcon material-symbols-outlined" > play_arrow </span>
      Play
    </button>
    <button
      class="articleHomePromo__footer__button articleHomePromo__footer__button--right"
    >
      <span class="infoIcon material-symbols-outlined"> info </span>
      More Info
    </button>
  </div>
</article>
